/* RESET SETTING*/
html, body, div, span, h1, h2, h3, h4 h5, h6, img, strong, ol, ul, li
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

body
{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
}
ol, ul
{
	list-style: none;
}
a
{
	text-decoration: none;
}
a:hover
{
	color: #FF0000;
	text-decoration: underline;
}
.clear
{
	clear: both;
}
a img
{
	border: none;
}
h1
{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}
img, div, a
{
	behavior: url(../Css/iepngfix.htc);
}
input
{
	padding: 2px;
}
select
{
	padding: 2px 2px 2px 0px;
}
#container
{
	background: #FFFFFF;
	text-align: left;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0px auto;
}
#header
{
	position: relative;
	float: left;
	width: 100%;
	font-size: 14px;
	height: 160px;
	background: -moz-linear-gradient(#072F59, #0F5895) repeat scroll 0 0 #0C3E74;
	background: -webkit-gradient(linear, left top, left bottom, from(#0F5895), to(#072F59));
	background : filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#072F59, endColorstr=#0F5895);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#072F59, endColorstr=#0F5895)";
}
#wellcome
{
	float: right;
	height: auto;
	padding: 8px 15px 0px 10px;
	position: relative;
	width: auto;
	font-size: 12px;
	color: White;
}
#logo
{
	position: relative;
	float: left;
	margin: 10px 0px 10px 10px;
	height: 70px;
	width: 200px;
	border: 1px solid #686;
}
#Language
{
	position :absolute;
	top :100px;
	right :75px;
	z-index :10;
}
#Language img
{
	padding-left :5px;
}

#wellcome ul
{
	float: left;
}
#wellcome ul li
{
	float: left;
	padding: 0px 5px 0px 5px;
}
#wellcome ul li a
{
	color: White;
}
.img-Object
{
	border: 1px solid #e4e4e4;
}
.bgRed_a
{
	background: none repeat scroll 0 0 #993400;
}
.Color_a
{
	color: Red;
}
#menu_Nav
{
	position: relative;
	float: left;
	width: 100%;
	height: 32px;
	background: #072F59;
}
#menu_Nav ul
{
	float: left;
	margin-left: 60px;
	display :block;
}
#menu_Nav ul li
{
	border: 1px solid white;
	float: left;
	height: 29px;
	padding: 8px 5px 0;
	text-align: center;
	width: 100px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	background: #216fab;
	margin-left: 1px;
}
#menu_Nav ul li a
{
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	font-size: 12px;
	font-weight: bold;
}
#menu_Nav ul .li_current
{
	background: #E0E0E0;
	color: Black;
}
#menu_Nav ul .li_current a
{
	color: Black;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#menu_Nav ul li .Imghome 
{
	padding :0px;
	margin :0px;
	position :absolute;
	left : 105px;
	top :-15px;	
}
#menu_Nav ul li ul
{
	position :absolute;
}
#menu_Nav ul li ul li a
{
	text-decoration :none;
}
#menu_Nav ul li ul li:hover a
{
	color :#5996f2;
}

#menu_Nav ul li ul li:hover
{
	cursor:pointer;
}

#menu_Left
{
	position :relative;
	float : left;
	width: 18%;
	height :400px;
	border-right: 1px solid #999;
	background :#E0E0E0;
}
#menu_Left ul #li_Id1:hover a
{
	background: #E0E0E0;
	font: 12px arial;
	font-weight: bold;
}

#nav_Content
{
	position: relative;
	float: left;
	width: 100%;
	background-color: #E0E0E0;
	border-bottom: 1px solid #999;
	height: 35px;
}
#wrap_Content
{
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

#category
{
	width: 95%;
	height: auto;
	margin: 10px 5px 0px 5px;
	background: #E0E0E0;
	-moz-box-shadow: 3px 3px 3px #999999;
	box-shadow: 3px 3px 3px #999999;
}
#category ul
{
	float: left;
	border-top: 1px solid white;
}
#category ul li
{
	float: left;
	padding: 10px 0px 0px 10px;
	width: 96%;
	height: 20px;
	list-style-position: inside;
}
.cate_selected
{
	background: #f1f1f1 !important;
}
#category ul .cate_selected a
{
	color: Black;
	font-weight: bold;
}
#category ul li a
{
	color: black;
	padding-left: 10px;
	text-align: center;
	font-weight:bold;
}
#category ul li:hover a
{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	text-decoration :none;
}
.title_cate
{
	background: #7e7e7e;
	color: White;
	font: bold 14px arial;
	height: 30px;
	padding-left: 2px;
	text-align: center;
	width: 99%;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.title_cate h1
{
	height: 24px;
	padding-top: 6px;
	border-right: 2px solid #999999;
	width: 190px;
	font: 17px/1 Lobster,Arial,sans-serif;
	font-weight: bold;
	position: relative;
	float: left;
}

.Arrow-down
{
	position: relative;
	background: url(../Images/arrow_down.png)no-repeat;
	width: 15px;
	height: 15px;
	float: left;
	margin: 5px 0px 0px 10px;
}
.liCurrent
{
	background: #f2f2f2;
	font: 12px arial;
	font-weight: bold;
}
#category ul li:hover a
{
	font: 12px arial;
	font-weight: bold;
}


#content
{
	position: relative;
	float: left;
	width: 81.8%;
	height: auto;
	font-size: 14px;
	background: #CCC;
	height :400px;
	border-top :1px solid white;
	border-left :1px solid white;
}
#Scroll_Nav
{
	position: relative;
	float: left;
	width: 99%;
	left: 5px;
	height: 350px;
	background: #E0E0E0;
}
.Permission-Left
{
	position: relative;
	float: left;
}
.dgHeader
{
	background: none repeat scroll 0 0 #dc0000;
	height: 20px;
	text-align: center;
	color: White;
	font-size: 13px;
	font-weight: bold;
}
.tb-wrapper
{
	display: table;
	height: auto;
	width: 99%;
	font-size: 12px;
	left: 5px;
}
.textCenter
{
	text-align: center;
}
.float
{
	position: relative;
	float: left;
}
.tb-Row
{
	border-left: 1px solid white;
	height: auto;
	width: 100%;
}
.tbTileText
{
	font-weight: bold;
	display: table-caption;
	text-align: center;
	font-size: 13px;
}
.clWhite
{
	color: White;
}
.bgBlue
{
	background: blue;
}
.tbColumn
{
	border-right: 1px solid white;
	border-top: 1px solid white;
	display: table-cell;
	height: 20px;
}
.tbColumn span a
{
	color: Black;
}
.cloumnCurrent
{
	background: #f2f0f0;
}
.tbColumn span:hover a
{
	text-decoration: underline;
	color: Black;
	font: 13px;
	font-weight: bold;
}
.table
{
	border-collapse: collapse;
}
#tb-Paging
{
	width: 98%;
	height: 20px;
	border: 1px solid white;
	position: relative;
	float: left;
}
#tb-Paging span
{
	padding-left: 5px;
	float: left;
}
#tb-Paging span a
{
	color: Blue;
}
#tb-Paging span:hover a
{
	font: 13px;
	font-weight: bold;
}
.FontRed
{
	color : #d61240;
	text-shadow : 1px 1px 1px #eecbd4;
	font :13px arial;
	font-weight :bold;
}
.Button
{
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 3em;
	outline: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: normal;
	-moz-box-shadow: 0 0 1px #FFFFFF inset;
	background-color: #E0E0E0;
	background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #333333;
}
.alignImage
{
	padding-left: 20px;
}
.insert
{
	position: absolute;
	float: left; /*background :url(../Images/Insert.gif)no-repeat;*/
	width: 20px;
	height: 20px;
	top: 228px;
	left: 165px;
}
.backgroundEdit
{
	position: absolute;
	float: left;
	background: url(../Images/edit.png);
	width: 15px;
	height: 15px;
	top: 10px;
	left: 5px;
}
#ch-Permission
{
	height: 40px;
	margin: 5px 0 0 20px;
}
.buttonEdit
{
	padding: 0px 5px 0px 22px;
}

.colorRed
{
	color: Red;
}
#ch-Permission span
{
	font: 13px;
}
#search-Permission
{
	position: relative;
	float: left;
	width: 99%;
	height: auto;
	margin-bottom: 5px;
	text-align: center;
}
.textSearch
{
	width: 250px;
	height: 15px;
	border: 1px solid #cccccc;
}
.btnSearch
{
	width: 80px;
	height: 25px;
	font: 12px;
}
.ddlList
{
	width: 110px;
	height: 22px;
	text-align: center;
}
#add-Permission
{
	position: relative;
	float: left;
	width: 100%;
	margin: 35px 0px 0px 10px;
}
#Category-Info
{
	position: relative;
	float: left;
	margin: 35px 0px 0px 10px;
	width: 100%;
	height: auto;
}
.footerTable
{
	background: #e4e4e4;
	border: none;
}
.row
{
	text-align: center;
}
#Add-Category
{
	position: relative;
	float: left;
	margin: 10px 0px 0px 10px;
	width: 50%;
}
#Add-Category table
{
	margin-left: 40px;
}
#SubCategory
{
	position: relative;
	float: left;
	margin: 10px 0px 0px 10px;
	width: 45%;
}
#lbview
{
	position: relative;
	float: left;
	width: 100%;
}
#lbview span
{
	color: Blue;
}
.field
{
	height: 265px;
}
.tableWrapper
{
	position: relative;
	float: left;
	margin: 0px 0px 10px 30px;
}
.tableWrapper .Cloumn
{
	float: left;
	border: 1px solid white;
}
.tableWrapper .Cloumn li
{
	float: left;
	width: 180px;
	text-align: center;
	border-right: 1px solid white;
	background: #DC0000;
	color: White;
	font-weight: bold;
	font-size: 12px;
}
.fontSize12
{
	font-size: 12px;
	float: left;
	width: 100%;
}
.tableWrapper .Cloumn .liFinal
{
	border: none;
}

.rowTable
{
	text-align: center;
	position: relative;
	float: left;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
}
.rowTable li
{
	float: left;
	width: 180px;
	text-align: center;
	border-right: 1px solid white;
	color: black;
	font-size: 12px;
	font-weight: bold;
}
.rowTable li a
{
	color: Blue;
	font-size: 12px;
}
.rowTable li:hover a
{
	font-weight: bold;
	text-decoration: none;
	color: Red;
}
#frmPost
{
	position: relative;
	float: left;
	width: 100%;
	height: 220px;
	background: #E0E0E0;
	margin-top: 35px;
}

#Popup
{
	position: absolute;
	top: 40%;
	left: 30%;
	float: left;
	width: 300px;
	height: 100px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-moz-box-shadow: 2px 2px 2px black;
	box-shadow: 2px 2px 2px black;
}
#Popup .title-left
{
	position: relative;
	float: left;
	width: 290px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
	background: #CCCCCC;
	height: 20px;
	padding: 3px 0px 0px 10px;
	border-bottom: 1px solid white;
	-moz-border-radius: 5px 0px 0px 0px;
	border-radius: 5px 0px 0px 0px;
}
#Popup .title-right
{
	position: absolute;
	padding: 0px;
	float: right;
	top: 2px;
	right: 0px;
	width: 20px;
	height: 20px;
	background: url(png_remove.png) no-repeat;
}
#Popup-content
{
	position: relative;
	float: left;
	width: 100%;
	height: 78px;
	background: #E4E4E4;
}
#Popup .imgQuetion
{
	padding: 15px 0px 0px 10px;
	position: relative;
	float: left;
}
#Popup-content p
{
	float: left;
	padding: 20px 0px 5px 10px;
	width: 230px;
}
.button-Popup
{
	-moz-border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: 0 0 1px #FFFFFF inset;
	background-color: #E0E0E0;
	background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	width: 40px;
	cursor: pointer;
	margin-left: 65px;
	font-size: 11px;
	font-weight: bold;
	height: 28px;
	outline: 0 none;
	text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: normal;
}
.hide
{
	visibility: hidden;
	display: none;
}
.show
{
	visibility: inherit;
	display: block;
}
