@font-face {
    font-family: 'YanoneKaffeesatz';
    src: url('fonts/yanonekaffeesatz-webfont.eot');
    src: url('fonts/yanonekaffeesatz-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yanonekaffeesatz-webfont.woff') format('woff'),
         url('fonts/yanonekaffeesatz-webfont.ttf') format('truetype'),
         url('fonts/yanonekaffeesatz-webfont.svg#YanoneKaffeesatz') format('svg');
    font-weight: normal;
    font-style: normal;
}
#nav a { font-family: 'YanoneKaffeesatz'; font-weight: normal; font-style: normal; }
.footer-link-wrapper .four-col .link-box .title { font-family: 'YanoneKaffeesatz'; font-weight: normal; font-style: normal; }
.sidebar .block .block-title span { font-family: 'YanoneKaffeesatz'; font-weight: normal; font-style: normal; }
.col-main .page-title h1 { font-family: 'YanoneKaffeesatz'; font-weight: normal; font-style: normal; }