.noneborder
{
    border:none;
}
.button{
	padding-right:5px;
	cursor:pointer;
	width:81px;
	margin-left:8px;
	font-weight:bold;
}
 
fieldset {
	display:block;
	padding:5px 10px 5px 10px;
	line-height:20px;
	margin-bottom:10px;
}
legend {
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px;
	width:150px;
	-moz-border-radius : 3px;
	border-radius : 3px; 
	-moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 0 1px #FFFFFF inset;
    background-color: #E0E0E0;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border : 1px solid white;
    text-align : center;
}  

textarea {
	padding:5px;
	overflow:auto;
}
option {
	background:#FFF;
}
optgroup option {

}
 
fieldset {
	border:1px solid WHITE;
	-moz-border-radius : 3px 3px 0px 0px;
	border-radius : 3px 3px 0px 0px;
} 
textarea {
	border:1px solid #e8e7e1;
	background:#fff url(../../Images/form_red.gif) repeat-x bottom left;
}
option {
	background:#FFF;
}
optgroup {
	background:#e8e7e1;
}
optgroup option {

}
input
{
	-moz-border-radius : 2px;
	border-radius : 2px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85);
    border: 1px solid #CCCCCC;
    Color : #666666;
}
select
{
	
}