<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ActionFormAdministrator</servlet-name>
        <servlet-class>app.controller.administrator.adminhtml.ActionFormAdministrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFromCategory</servlet-name>
        <servlet-class>app.controller.ActionFromCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormServices</servlet-name>
        <servlet-class>app.controller.ActionFormServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormUser</servlet-name>
        <servlet-class>app.controller.ActionFormUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormOrder</servlet-name>
        <servlet-class>app.controller.ActionFormOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormFAQS</servlet-name>
        <servlet-class>app.controller.ActionFormFAQS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormAboutUS</servlet-name>
        <servlet-class>app.controller.ActionFormAboutUS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormFeedback</servlet-name>
        <servlet-class>app.controller.ActionFormFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormProjects</servlet-name>
        <servlet-class>app.controller.ActionFormProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormActionPayment</servlet-name>
        <servlet-class>app.controller.FormActionPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormUpdateServices</servlet-name>
        <servlet-class>app.controller.ActionFormUpdateServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormRedirect</servlet-name>
        <servlet-class>app.controller.ActionFormRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormUpdateProject</servlet-name>
        <servlet-class>app.controller.ActionFormUpdateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFormDelete</servlet-name>
        <servlet-class>app.controller.ActionFormDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionFormAdministrator</servlet-name>
        <url-pattern>/ActionFormAdministrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFromCategory</servlet-name>
        <url-pattern>/ActionFromCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormServices</servlet-name>
        <url-pattern>/ActionFormServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormUser</servlet-name>
        <url-pattern>/ActionFormUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormOrder</servlet-name>
        <url-pattern>/ActionFormOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormFAQS</servlet-name>
        <url-pattern>/ActionFormFAQS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormAboutUS</servlet-name>
        <url-pattern>/ActionFormAboutUS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormFeedback</servlet-name>
        <url-pattern>/ActionFormFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormProjects</servlet-name>
        <url-pattern>/ActionFormProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormActionPayment</servlet-name>
        <url-pattern>/FormActionPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormUpdateServices</servlet-name>
        <url-pattern>/ActionFormUpdateServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormRedirect</servlet-name>
        <url-pattern>/ActionFormRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormUpdateProject</servlet-name>
        <url-pattern>/ActionFormUpdateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFormDelete</servlet-name>
        <url-pattern>/ActionFormDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
